
.h1_1{
    color: #3498db;
}
.h1_two{
    color: red
}

.red-h2{
    color: red;
}
.h2_2{
    color: darkturquoise;
}
.h3_1{
    color: black;
}
.p_1{
    color: black;
}
.p_2{
    color: black;
}
.p_3{
    color: black;
}
